
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba( 244, 6, 6, 0.70 );
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 50px; */
    padding-top: 20px;
    width: min(90%, 1000px);
}

.mainSection #date-time {
    width: 220px;
    height: 110px;
    /* position: absolute;
    left: 84.5%;
    top: 20px; */
    /* position: relative; */
    margin: auto;
    text-align: center;
    /* padding: 10px; */
    padding-top: 5px;
    font-size: 32px;
    border-radius: 15px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(33, 38, 100, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 50px;

   cursor: pointer;
   text-transform: uppercase;
   overflow: hidden;
}

.mainSection #date-time:hover {
    background-color: rgba(255,255,255,0.2);
  }



.mainSection {
    
    font-size: 1.8em;
    color: #fff;
    width: min(80%,1000px);
    margin: auto;
    /* background-color: blue; */
    text-align: center;
    padding-top: 10px;
}

.mainSection button {
 
    display: inline-block;
    padding: 12px 20px;
    border: 0;
    text-decoration: none;
    border-radius: 20px;

    background: rgba(253, 223, 223, 0.25);
    box-shadow: 0 8px 32px 0 rgba(33, 38, 100, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(189, 12, 12, 0.18);


    color: rgba(255,255,255,0.8);
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
}


.mainSection button:hover {
    /* box-shadow: 0 5px 15px rgb(199, 6, 6); */
    /* border-color:rgba(255,255,255,0.2); */
    background-color: rgba(255,255,255,0.2);
    
}

input:focus {
    box-shadow: 0 5px 15px rgb(238, 23, 23);
    border-color:rgba(190, 7, 7, 0.733);
    outline: none;
}


.container #delete-button {
  

    display: block;
    padding: 8px 20px;
    margin-top: 250px;
    border: 0;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(223, 73, 73, .1);
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    /* font-size: 14px; */
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.mainSection input {
    width: 40%;
    height: 40px;
    padding: 12px 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}



.mainSection h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.container 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: (600px, 1200px);
    margin: 0;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.container .card .content h2 {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1em;
    color: #fff;
    position: absolute;
    /* z-index: 1;
    text-align: center; */
    top: 60px;
    right: 19px;
    
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    position: absolute;
    font-weight: 300px;
    font-size: 24px;
    width: 180px;
    height: 190px;
    left: 60px; 
    top: 100px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    overflow:hidden;
}

.container .card .content #delete-button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

span .trans {
    opacity: 0;
}


@media screen and (max-width:850px) {
  

    .mainSection {
        width: min(90%,635px);
    }

    body {
        width: min(80%, 700px);
        margin: auto;
    }

    .mainSection #date-time {
        margin: auto;
        margin-bottom: 50px;
    }

    .container {
        min-width: (600px, 1200px);
        /* justify-content: ; */
    }

}
/* 

@media screen and (min-width: 601px){
    .mainSection {
        font-size: 1.8em;
        color: #fff;
        width: min(800px);
        text-align: center;
        padding-top: 50px;
    }
    
} */

@media screen and (min-width: 1200px) {
    .mainSection {
        width: 950px;
    }
    .container {
        width: 1050px;
    }
}
